@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monomakh&family=Noto+Serif+Oriya:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shafarik&family=Sono:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;

}
/* mobile Menu */

.humburger{
    display: none;
    cursor: pointer;
}

.mobile-menu{
    display: none;
}

/* Header  */

.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 30px;
    background: transparent;
    transition: background 0.3s ease, position 0.3s ease;
    z-index: 1111;
}

.header.scrolled {
    position: static;
    background: #002699 !important; 
    
    
}

.header .top-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    margin-inline: 20px;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.top-header .social{
    display: flex;
    align-items: center;
    gap: 15px;
}

.top-header .social a{
    font-size: 24px;
    color: #fff;
}

.top-header .message-contact{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.top-header .message-contact i{
    color: #fff;
    font-size: 16px;
}

.top-header .message-contact a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}



/* Second-header */

.second-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    margin-inline: 20px;
    padding: 20px;
    z-index: 1111;

}

.second-header .logo a img {
    font-size: 6px;
    font-weight: 900;
    width: 174px;
    height: 65px;
    text-align: center;
    align-items: center;
}

.second-header .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.second-header .menu i{
    color: #FFFFFF;
    font-size: 22px;
    position: relative;
    cursor: pointer;
}

.second-header .menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.second-header .menu a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.current-menu{
    border-bottom: 5px solid #FFFFFF;
    padding-bottom: 15px;
}

.second-header .menu a:hover{
    border-bottom: 5px solid #FFFFFF;
    padding-bottom: 15px;
    color: #fff;
    transition: color 0.3s ease;
}
.second-header .menu  i{
    font-size: 22px;
    position: relative;
    cursor: pointer;

    /* color: white; */
}
.second-header .menu  .cart-count{
    position:absolute;
    top: 88px;
    right: 110px;

    background-color: rgb(180, 179, 179) !important;
    color: black;
    font-size: 12px;
    padding: 5px 8px ;
    border-radius: 5%;
    

}

/* Hero Section */
.hero {
 

    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    

}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
}
.slide.active {
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 100px;
    justify-content: center;
    margin: 0;
}

.content ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    color: #FFFFFF;

}

.content ul li{
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}

.content ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.content ul li a:hover{
    color: #B7BFCA;
    transition: color 0.3s ease;
}

.content h1{
    font-size: 48px;
    font-weight: 200;
    padding-top: 50px;
    margin-top: 100px;
}


/* products */
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 100px;
}

.product {

    width: 393.6;
    height: 393.6px;
    background: white;
    border-radius: 8px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
    background-color: #F1F5F8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.product h3 {

    width: 50%;
    margin-top: 80px;
    margin-left: -10px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.price {
    position: absolute;
    top: -10px;
    right: 10px;
    background: #0047ab;
    color: white;
    padding: 10px  20px;
    font-size: 14px;
    border-radius: 5px;
}


/* Footer */
.footer {
    background: url("https://xtratheme.com/elementor/corporate/wp-content/uploads/sites/4/2019/10/footer.jpg");
    color: #FFFFFF;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.top-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
    margin-bottom: 50px;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 50px;
}

.top-footer span {
    font-size: 24px;
    font-weight: 700;
}

.subscribe-form {
    display: flex;
    gap: 10px;
}

.subscribe-form input {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    width: 500px;
    position: relative;
    background-color: transparent;
    font-size: 16px;
    color: #FFFFFF;
    outline: none;

}

.subscribe-form button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #ffff;
    color: #002699;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    right: 100;
    top: 0;
    margin-left: -130px;
    margin-block:5px ;
    
}


.subscribe-form button:hover {
    background-color: #002699;
    color: #fff;
}

.middle-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 50px;


}

.middle-footer .logo  {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.middle-footer .logo img {
    width: 150px;
    margin-bottom: 20px;
}

.middle-footer .logo p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.middle-footer .logo button {
    padding: 10px 50px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}



.middle-footer .logo button:hover {
    background-color: #fff;
    color: #002699;
}

.middle-footer .useful-links,
.middle-footer .short-cuts,
.middle-footer .contact-us {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.useful-links h4{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.middle-footer h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.middle-footer ul {
    list-style: none;
    padding: 0;
}

.middle-footer ul li {
    margin-bottom: 10px;
}

.middle-footer ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}

.middle-footer ul li a:hover {
    color: #002699;
}

.bottom-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 250px;
}

.bottom-footer p {
    font-size: 14px;
}

.bottom-footer .social-media {
    display: flex;
    gap: 10px;
}

.bottom-footer .social-media li {
    list-style: none;
}

.bottom-footer .social-media li a {
    color: #FFFFFF;
    font-size: 20px;
}

.bottom-footer .social-media li a:hover {
    color: #002699;
}

.footer-links {
    display: flex;
    gap: 10px;
}

.footer-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    color: #002699;
}

.bottom-footer span {
    color: #FFFFFF;
    margin: 0 5px;
}

/* Telephone Responsive */

@media screen and (max-width: 480px) {
    /* Hide desktop menu */
    .desktop-menu{
       display: none;
   }
 
   i{
       z-index: 111;
   }
   /* Show mobile menu */
   .humburger{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #002699;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
    z-index: 11111;
    
}
.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002699;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    padding: 5rem;
    color: #fff !important;
    transform: translateX(0%);
    transition: transform 350ms ease-in-out;
    z-index: 11111;

}

.mobile-menu[data-visible="false"]{
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;

}

.humburger i[data-visible="true"]{
    display: block;
}

.humburger i[data-visible="false"]{
    display: none;
}

.mobile-menu ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    top: 4.5rem;

    
}

.mobile-menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
}


/* Header */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.header.scrolled {
    position: static;
    background: #002699 ; 
}

.header .top-header {
    display: none;
}

.second-header .menu {
    display: none;
}


/* Hero section */

.hero {
    margin-top: 0; 
    position: relative;
    width: 100%;
    height: 50vh; 
    background: transparent; 
}

.header {
    position: absolute; 
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.second-header .logo a img,
.second-header .menu a {
    color: #fff; 
    margin-left: -60px;
    margin-top: -20px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
}
.content h3{
    font-size: 36px;
    font-weight: 900;
    padding: 0 30px;
    margin-top: 50px;
}
.content p{
    font-size: 20px;
    padding:0 30px;

}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    padding: 0;
}


   /* Products */
   .products {
        margin-top: 100px;
       display: flex;
       flex-direction: column;
       gap: 50px;
       padding: 20px;
   }

   .product {
       width: 100%;
       padding: 10px;
   }

   .product img {
       width: 100%;
       height: auto;
   }

   .product h3 {
       font-size: 18px;
       margin: 0;
       width: 100%;
   }

   .price {
       font-size: 16px;
   }

   /* Footer */
   .footer {
    padding: 20px;
}

.top-footer {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.top-footer span {
    font-size: 18px;
    text-align: center;
}

.subscribe-form {
    flex-direction: column;
    gap: 10px;
}

.subscribe-form input {
    width: 100%;
}

.subscribe-form button {
    width: 100%;
    margin-left: 0;
}

.middle-footer {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.middle-footer .logo,
.middle-footer .useful-links,
.middle-footer .short-cuts,
.middle-footer .contact-us {
    align-items: center;
    text-align: center;
}

.bottom-footer {
    flex-direction: column;
    gap: 10px;
}

.bottom-footer p {
    text-align: center;
}

.bottom-footer .social-media {
    justify-content: center;
    text-align: center;
    margin-left: 120px;

}

.footer-links {
    margin-left: 80px;


}
}

/* Tablet Responsive */



@media screen and (min-width: 481px) and (max-width: 1024px) {
    /* Hide desktop menu */
    .desktop-menu{
       display: none;
   }
 
   i{
       z-index: 111;
   }
   /* Show mobile menu */
   .humburger{
       display: flex;
       justify-content: center;
       align-items: center;
       position: absolute;
       top: 10px;
       right: 10px;
       font-size: 1.5rem;
       color: #002699;
       cursor: pointer;
       background-color: #fff;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       padding: 15px;
       border-radius: 5px;
       z-index: 11111;
   }
   .mobile-menu {
       display: flex;
       flex-direction: column;
       align-items: center;
       background-color: #002699;
       position: relative;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       width: 100%;
       height: 100vh;
       gap: 20px;
       padding: 5rem;
       color: #fff !important;
       transform: translateX(0%);
       transition: transform 350ms ease-in-out;
       z-index: 11111;

   }

   .mobile-menu[data-visible="false"]{
       transform: translateX(100%);
   }

   .humburger i[data-visible="true"]{
       display: block;
   }

   .humburger i[data-visible="false"]{
       display: none;
   }
   
   .mobile-menu ul{
       display: flex;
       flex-direction: column;
       gap: 1.5rem;
       list-style: none;
       top: 4.5rem;

       
   }

   .mobile-menu ul li a{
       color: #fff;
       text-decoration: none;
       font-size: 1.5rem;
       font-weight: 500;
       border: none;
   }

   /* Header */

   .header .top-header {
       display: none;
   }

   .second-header .menu {
       display: none;
   }



    /* Hero section */
   
    .hero{
       margin-top: -1550px;
    
   }
   .content h3{
       font-size: 55px;
       font-weight: 900;
       padding: 0 30px;
       margin-top: 100px;
   }
   .content p{
       font-size: 20px;
       padding:0 30px;

   }
   
   .buttons{
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 20px;
       margin-top: 50px;
       padding: 0;
   }

   /* Products */
   .products {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 20px;
       padding: 40px;
   }

   .product {
       width: 100%;
       padding: 20px;
   }

   .product img {
       width: 100%;
       height: auto;
   }

   .product h3 {
       font-size: 20px;
   }

   .price {
       font-size: 18px;
   }

   
    /* Footer */
    .footer {
        padding: 40px;
    }

    .top-footer {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .top-footer span {
        font-size: 20px;
        text-align: center;
    }

    .subscribe-form {
        flex-direction: column;
        gap: 15px;
    }

    .subscribe-form input {
        width: 100%;
    }

    .subscribe-form button {
        width: 100%;
        margin-left: 0;
    }

    .middle-footer {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .middle-footer .logo,
    .middle-footer .useful-links,
    .middle-footer .short-cuts,
    .middle-footer .contact-us {
        align-items: center;
        text-align: center;
    }

    .bottom-footer {
        flex-direction: column;
        gap: 15px;
    }

    .bottom-footer p {
        text-align: center;
    }

    .bottom-footer .social-media {
        justify-content: center;
    }

    .footer-links {
        justify-content: center;
    }
}