  
  
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {


  
    font-family: "Roboto", sans-serif;
    
 
    /* /* color: #dfdfd8; */
   background-color: #e0e0db; 
}


 
 
 
 
  .background{
    background: url('images/header-banner (1).jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: fixed;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
   
    
   
}
 .top-header {
    
    top: 0px;
    left: 0px;
    right: 0px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    color: 
    rgb(255, 255, 255);
 
   
   
   
  
}
 img{

   margin-right: 15rem;
   height: 60px;
   width: 150px;
  
    

   
}

.social-icons {
    display: flex;
        /* justify-content: space-between; */
        align-items: center;
        height: 100%;
        padding: 0 2rem;
        gap: 2rem;
     margin-top: 2rem;
     

}
.social-icons a{
    color: #ffffff;
}

.top-header .message{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    margin-left: 40rem;
    margin-top: -10px;
}



.message a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.line{
    border-bottom: 1px solid #636060;
    margin-top: 1.5rem;
}
.nav-bar ul{
    display: flex;
        /* justify-content: space-between; */
        align-items: center;
        height: 100%;
        padding: 0 2rem;
        gap: 1.5rem;
     margin-top: 2rem;
       
}
.nav-bar  a{
    color: rgba(255, 255, 255, 0.813);
text-decoration: none;
flex-direction: column;
}
.nav-bar li{
list-style: none;

}

.nav-bar li a:hover{
    color: #ffffff;
}
.second-top-header{
    text-align: center;
    color: #fff;
    margin-bottom: 20rem;
  
}
.second-top-header .section-1-title{
    font-size: 46px;
    color: rgb(255, 255, 255);
    font-weight: 200;
    line-height: 64px;
    margin-bottom: 2rem;
    margin-top: 7rem;
    text-align: center;
   
}
.second-top-header .social-icons .home{
  
    Color:rgb(229, 229, 229);
    font-size: 14px;
    font-weight: 900;
    line-height: 14px;
    margin-left: 33rem;
   
}
.second-top-header .home{
    color: #9c9797 ;
}


.second-top-header .social-icons   h5{
    font-size: 14px;
    font-weight: 700;
    color: #8a8787;
}


.section-1{
margin-top: 15rem;






}



.section-1 .grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: auto;
   

}
.section-1 .head p{
    font-size: 18px;
    color: rgb(170, 170, 170);
    font-weight: 400;
    line-height: 36px;
    /* margin-bottom: 2rem; */
    flex-direction: column;
    top: 0px;
   margin: 10px;
}
.section-1 .head h1{
    font-size: 36px;
    line-height: 56px;
    font-weight: 900;
    color: rgb(0 0 0);
    text-transform: uppercase;
    margin-bottom: 3rem;

}
.section-1 em{
    color: rgb(0, 38, 153)
    ;
}

.section-1  .grid .left-side span{
    font-size: 18px;
    color: rgb(102, 102, 102);
    font-weight: 400;
    line-height: 36px;
  
  
 
    
}
.section-1  .grid .left-side .icon i{
    color: rgb(0 0 0);
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;

    margin-right: 10px;
    margin-top: 2rem;  

}
.section-1  .grid .left-side .icon span{
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
    color: rgb(0 0 0);
}

  .right-side img{
   
   margin-top: -7rem;
   height: 640px;
   width: 700px;
   margin-right: 0.5rem;
  
}





.right-side1 .btn{
background-color: rgb(76, 88, 155);
font-size: 16px;
font-weight: 400;
line-height: 32px;
Color:rgb(255, 255, 255);   
padding: 2px;
height: 40px;
border: none;

   
}
/* 
.section-2{
    margin: 0;
} */
 .section-2 .grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
  margin: 0;
  padding: 0;
     margin-top: 10rem;
    
    
 }
 
 
 .section-2  .grid2 .left-side img{
    height: 600px;
    width: 500px;
 
   margin: 0;
}


.section-2  .grid2 .right-side1{
   
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 70px;
    margin: 0;
    padding: 0;
    margin-top: 2.5rem;
}
.section-2 .grid2 .right-side2 .icn i{
   
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: -12rem;
    margin: 0;
    padding: 5rem 1rem;
    margin-left:-17rem;
    font-size: 10px;
    line-height: 29px;
    
}
.section-2 .grid2  .mini-section{
    margin-left: -13rem;
    margin-bottom: -17rem;
    margin-top: -8rem;

    
}

.section-2 .grid2  .mini-sectio h5{
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    color: rgb(0 0 0);
}
.section-2 .grid2  .mini-section span{
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    Color: rgb(102, 102, 102);
    margin: 0;


 }

   

 .section-4{
    background-color: rgb(7, 26, 33);
    height: 368vh;
    width: 100%;
    margin: 0;
    margin-top: 10rem;
   
   
 }
 .section-4 .numbers{
    color: white;
    display: flex;
    gap: 12rem;
  
    padding: 5rem;
  
    
 }
 .section-4 .numbers .num1 h1{
    border-bottom:2px solid #434242;
    padding: 1rem;
    width: 130%;

 }
 .section-4 .video-pictures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 13rem;
  
    
     
  }

  .section-4 .video-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top: -4rem;
    height: 100%;
    width: 562px;
  
   
}


.section-4  .video-pictures .video-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section-4 .video-section .overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: linear-gradient( rgba(1, 29, 1, 0.8), rgba(4, 37, 103, 0.7));
    background: ved ;
}


.section-4  .video-pictures .video-section .content {
    position: absolute;
    text-align: center;
    z-index: 2;
}


.section-4  .video-pictures .video-section .play-button {
    font-size: 50px;
    color: white;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px 30px;
    border-radius: 50%;
    display: inline-block;
    transition: 0.3s;
}

.section-4  .video-pictures .video-section .play-button:hover {
    background: rgba(255, 255, 255, 0.5);
}


 .section-4  .video-pictures .video-section .content p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

    .pictures{
    background-color: #e0e0db;
    height: 700px;
    width: 700px;
  
    bottom: 4rem;
    position: relative;

 }

  .picture {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0%;
    position: relative;
 }
 
 .picture img{
   height: 120px;
   width: 120px;
   background-color: #fff;
   padding: 1rem 1rem;
   position: absolute;
   margin-left: -5rem;
   border-radius: 2px;
  
   

 }
 .img1 {
    margin-top: 5rem;
  
    margin-bottom: 5rem;
 }
    .icon-picture img:hover{
        transform: scale(1.05);
    }

    .title  {
    font-size: 20px;
    font-weight: 200;
    margin-left: -17rem;
  
  margin-top: 5rem;
    gap: 2rem;
   
   
  
 }
  
.span-h1 span{
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    Color:rgb(187, 187, 187)
}
 
.span-h1 h1{
    font-size:46px ;
    font-weight: 900;
    Color:rgb(255, 255, 255);
    line-height: 46px;

}

 
 


 .section-4 .team-members .memberandtitle{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    column-gap: 15rem;
    row-gap: 8rem;
    margin-left: 18rem;
    max-width: 100px; 
    margin-top: 0.5rem;
   
    

   
   

}


.section-4 .team-members .memberandtitle img
{
   
    height: 250px;
    width: 270px;
    border-radius: 1px;
    transition: transform 0.3s ease-in-out;
   
   
   
}
.section-4 .team-members .memberandtitle img:hover {
        
            transform: scale(1.05);
        }

        .section-4 .team-members .memberandtitle .name-work span{
            font-size: 16px;
            line-height: 32px;
            font-weight: 400;
            color: rgb(153, 153, 153);
            text-align: center;
        }
        
        
       
        .section-4 .team-members .memberandtitle .col1 .name-work{
            color: rgb(255, 255, 255);
            font-size: 10px;
            font-weight: 700;
            line-height: 28px;
            margin-top: -2rem;
            width: 300px;
            text-align: center;
           
        }
        .col1 i{
            display: flex;
            flex-direction: row;
            position:relative;
            top: -12.2rem;
            gap: 4rem;
            right: 0.7rem;
            color: #fff;
            background-color: #0819cd;
            width: 39px;
            padding: 5px 1rem;
        }
        
        .grid4 .span-h1{
           
            margin-top: 5rem;
            font-size: 23px;
            line-height: 46px;
            font-weight: 900;
        }
        
        
        .section-5-head{
          
           margin-top: 8rem;
            
            text-align: center;
           
        }
         
        .section-5 .brand-names{
            display: grid;
            grid-template-columns: repeat(6, minmax(100px, 1fr));
            gap: 5rem; 
            margin: 0;
          
            max-width: 100px; 
          
           
        }
        .section-5 .brand-names .logo-brand-name img{
         margin: 4rem;
         
        }
      